
<div class="formsbg">
</div>
<div class="forms">
   <aside>
     <section>
        First Name:<br>
            <input [(ngModel)]="input.firstName" id="inputStuff" type="text" placeholder="First Name" required><br><br>
        Last Name:<br>
            <input [(ngModel)]="input.lastName" id="inputStuff" type="text" placeholder="Last Name" required><br><br>
        Email Address:<br>
            <input [(ngModel)]="input.email" id="inputStuff" type="email" placeholder="email@sample.com" required><br><br>
        Password:<br>
            <input [(ngModel)]="input.password" id="inputStuff" type="password" placeholder="Password" required><br><br>
        <span class="btns">
            <button (click)="onClick()" class='regiBtn'>Register</button>
            this is register
        </span> 
    </section>
  </aside>
</div>

