body {
  background-image:url("../assets/top.jpg");
  height: 52em;
  width: 103em;
}

.welcome{
    background-color: DarkSlateBlue;
    text-align: right;
    font-size: 45px;
    color:white;
    padding: 15px;
}


.forms {
    color:black;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: 10em;
    right: 10em;
}

.formsbg{
    width:300px;
    height:380px;
    position:absolute;
    background-color: Khaki;
    opacity: 0.8;
    border: 1px solid floralwhite;
    top:195px;
	right: 190px;
}

.flex-form{
    display:flex;
    position: absolute;
    top:15px;
	left: 50px;
	width:600px;
	height:25px;
}

.srcBar{
    width: 500px;
}

.srcBtn {
	background-color:#44c767;
	border-radius:0px 10px 10px 0px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-shadow:0px 1px 0px #2f6627;
	
}
.srcBtn:hover {
	background-color:#5cbf2a;
}
.srcBtn:active {
	position:relative;
}

#inputStuff{
    box-shadow:0 0 2px;
    border:1px solid;
    background:white;
}

#inputStuff::placeholder{
    font-size:10px;
    color: red;
}



.btns{
    display:flex;
    justify-content:space-between;
}

.logBtn {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.logBtn:hover {
	background-color:#ce0100;
}
.logBtn:active {
	position:relative;
	top:1px;
}


.regiBtn {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.regiBtn:hover {
	background-color:#1e62d0;
}
.regiBtn:active {
	position:relative;
	top:1px;
}
